<mat-card class="task-card" [class.high]="task.priority === 'high'" [class.normal]="task.priority === 'normal'"
  [class.low]="task.priority === 'low'">
  <div class="card-content-wrapper">
    <mat-checkbox [(ngModel)]="task.isComplete" class="task-checkbox"></mat-checkbox>
    <!-- title + executor -->
    <div class="task-content">
      <section class="task-title">
        <header class="title-text mat-h4">{{task.description}}</header>
        <nz-avatar nzIcon="user"></nz-avatar>
      </section>
      <!-- task infos -->
      <section class="task-infos">
        <div *ngIf="task.subTasks&&task.subTasks.length" class="task-info mat-caption">
          <mat-icon inline style="font-size: 16px; margin-right: 4px;">list</mat-icon>
          <span>{{completedSubTask()}} complete / {{task.subTasks.length}} total</span>
        </div>
        <div class="task-info mat-caption">
          <mat-icon inline style="font-size: 16px; margin-right: 4px;">calendar_today</mat-icon>
          <span>{{task.endTime | date:'yyyy/MM/dd'}}</span>
        </div>
        <div class="task-info mat-caption">
          <mat-icon inline style="font-size: 16px; margin-right: 4px;">alarm_on</mat-icon>
          <span>{{task.remindTime | date:'MM/dd, HH:mm'}}</span>
        </div>
        <div class="task-info mat-caption">
          <mat-icon inline style="font-size: 16px; margin-right: 4px;">repeat</mat-icon>
          <span>{{ task.repeat}}</span>
        </div>
        <div *ngIf="task.remark" class="task-info mat-caption">
          <mat-icon inline style="font-size: 16px;">description</mat-icon>
        </div>
        <div *ngIf="task.attachments && task.attachments.length" class=" task-info mat-caption">
          <mat-icon inline style="font-size: 16px;">attachment</mat-icon>
        </div>
        <div class="task-info mat-caption task-tag-red">
          important
        </div>
        <div class="task-info mat-caption task-tag-blue">
          developing
        </div>
        <div class="task-info mat-caption task-tag-green">
          normal
        </div>
      </section>
    </div>
  </div>
</mat-card>