.task-card {
  display: block;
  margin-bottom: 8px;
  &.low{
    border-left: 2px solid green;
  }
  &.normal{
    border-left: 2px solid orange;
  }
  &.high{
    border-left: 2px solid red;
  }
}

.card-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.task-checkbox {
  margin-right: 10px;
}

.task-content {
  flex: 1 1 auto;
  .task-title {
    display: flex;
    .title-text {
      flex: 1;
      margin-right: 8px;
    }
  }
  .task-infos {
    display: flex;
    flex-wrap: wrap;
    .task-info {
      display: flex;
      align-items: center;
      margin-right: 8px;
      margin-top: 4px;
      white-space: nowrap;
    }
    .task-tag-red {
      color: red;
    }
    .task-tag-blue {
      color: blue;
    }
    .task-tag-green {
      color: green;
    }
  }
}
