.task-card {
  &.low{
    border-left: 2px solid green;
  }
  &.normal{
    border-left: 2px solid orange;
  }
  &.high{
    border-left: 2px solid red;
  }
}

.task-checkbox {
  margin-right: 10px;
}

.task-content {
  flex: 1 1 auto;
  
  &.is-complete{
    opacity: 0.5;
  }
  
  .task-header {
    justify-content: space-between;
    
    .title {
      margin-bottom: 0;
    }
  }
  
  .task-infos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    .task-info {
      margin-right: 8px;
      margin-top: 4px;
      white-space: nowrap;
    }
    
    .task-tag-red {
      color: red;
    }
  
    .task-tag-blue {
      color: blue;
    }
    
    .task-tag-green {
      color: green;
    }
  }
}

