<h1 mat-dialog-title>Create your Team</h1>
<mat-dialog-content>
    <form [formGroup]="createTeamForm">
        <div class="form-field-row">
            <mat-form-field appearance="outline">
                <mat-label>team name</mat-label>
                <input matInput formControlName="teamName" required>
                <mat-error *ngIf="teamName.errors?.required">team name is required</mat-error>
                <mat-error *ngIf="teamName.errors?.maxlength">
                    team name letters should less than {{teamName.errors?.maxlength.requiredLength}}.
                </mat-error>
                <mat-error *ngIf="teamName.errors?.verifyTeamName">team name has been registed</mat-error>
            </mat-form-field>
            <div class="field-feedback">
                <mat-icon class="checked-icon" *ngIf="teamName.dirty&&teamName.valid">check_circle_outline</mat-icon>
                <mat-icon color="warn" *ngIf="teamName.dirty&&teamName.invalid">highlight_off</mat-icon>
                <mat-icon color="accent" *ngIf="teamName.pending">hourglass_empty</mat-icon>
            </div>
        </div>
        <div class="form-field-row">
            <mat-form-field appearance="outline">
                <mat-label>description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="description.errors?.maxlength">
                    team description letters should less than {{description.errors?.maxlength.requiredLength}}.
                </mat-error>
            </mat-form-field>
            <div class="field-feedback">
                <mat-icon class="checked-icon" *ngIf="description.dirty&&description.valid">check_circle_outline
                </mat-icon>
                <mat-icon color="warn" *ngIf="description.dirty&&description.invalid">highlight_off</mat-icon>
            </div>
        </div>
    </form>
</mat-dialog-content>
<div mat-dialog-actions [align]="'end'">
    <button mat-flat-button mat-dialog-close>cancel</button>
    <button mat-flat-button color="primary" [disabled]="!createTeamForm.valid" (click)="createTeam()">create</button>
</div>