<h2 mat-dialog-title>进入团队</h2>
<mat-dialog-content>
    <mat-action-list>
        <mat-list-item>
            <nz-avatar matListAvatar [nzShape]="'square'" [nzIcon]="'project'"></nz-avatar>
            <h3 matLine>小组XXXX</h3>
            <p>
                描述XXXXX
            </p>
        </mat-list-item>
        <mat-list-item>
            <nz-avatar matListAvatar [nzShape]="'square'" [nzIcon]="'project'"></nz-avatar>
            <h3 matLine>小组XXXX</h3>
            <p>
                描述XXXXX
            </p>
        </mat-list-item>
    </mat-action-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>