<mat-drawer-container class="tasks-root-container">
  <mat-drawer #taskDetailDrawer class="task-detail-container" mode="cover" position="end">
    <kanpm-task-detail></kanpm-task-detail>
  </mat-drawer>
  <mat-drawer-content class="task-stacks-wrapper">
    <!-- task list drag zone -->
    <ul class="task-stacks" cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropTaskList($event)">
      <li cdkDrag *ngFor="let stack of taskStacks" class="task-stack mat-elevation-z2">
        <kanpm-task-stack [stack]="stack"></kanpm-task-stack>
      </li>
    </ul>
  </mat-drawer-content>
</mat-drawer-container>