<mat-drawer-container class="tasks-root-container">
  <mat-drawer #taskDetailDrawer class="task-detail-container" mode="cover" position="end">
    <kanpm-task-detail></kanpm-task-detail>
  </mat-drawer>
  <mat-drawer-content class="task-list-group-container">
    <!-- task list drag zone -->
    <div cdkDropList class="kanban-wrapper" cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropTaskList($event)" cdkDropListGroup>
      <div cdkDrag *ngFor="let stack of taskStacks" class="task-list-wrapper mat-elevation-z2">
        <kanpm-task-stack [stack]="stack"></kanpm-task-stack>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>