.tasks-root-container {
  height: 100%;
}

.task-detail-container {
  width: 50%;
  min-width: 660px;
  max-width: 879px;
}

.task-stacks-wrapper {
  height: 100%;
  padding: 16px;

  ul.task-stacks {
    height: 100%;
    white-space: nowrap;
  }
  li.task-stack {
    display: inline-block;
    width: 320px;
    height: 100%;
    margin-right: 16px;
  }
}
