@import "~@angular/material/theming";

@mixin project-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .project-header {
    background: map-get($background, app-bar);
    color: map-get($foreground, text);
    border-bottom: 1px solid map-get($foreground, divider);

    .tabs {
      li.active {
        border-bottom: 2px solid map-get($accent, 400);
        color: map-get($accent, 400);
      }
    }

    .settings {
      a {
        color: map-get($foreground, icon);
      }
    }
  }
  .task-list-wrapper {
    background: map-get($map: $background, $key: background);
    color: map-get($map: $foreground, $key: text);
    border: 1px solid map-get($map: $foreground, $key: divider);
  }
  .list-footer {
    border: 1px solid map-get($map: $foreground, $key: divider);
  }
}
