<mat-sidenav-container class="project-container">
  <!-- side nav -->
  <mat-sidenav mode="side" opened class="project-sidebar">
    <div class="project-sidebar">
      <mat-nav-list>
        <mat-list-item>
          <a>任务</a>
        </mat-list-item>
        <mat-list-item>
          <a>日历</a>
        </mat-list-item>
        <mat-list-item>
          <a>统计</a>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <mat-list-item>
          <mat-icon class="icon">group</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="icon">settings</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- content wrapper -->
  <mat-sidenav-content class="project-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>