:host {
  display: block;
  height: 100%;
}

.project-container {
  display: flex;
  height: 100%;
}

.project-sidebar{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.project-content {
  flex: 1;
  overflow: hidden;
}
