:host {
  display: block;
}

.root-wrapper {
  display: flex;
  cursor: pointer;
  padding: 12px 12px 6px;
}

.task-info-wrapper {
  margin: 0 12px;
  flex: 1 1 auto;

  .task-infos {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 6px;
    
    .info-with-icon {
      .icon{
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin-right: 4px;
      }
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }
}

.task-time-label {
  display: inline-block;
  padding: 0 8px;
  line-height: 20px;
  font-size: 12px;
  vertical-align: middle;
}
