<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.locotor.kanpm.mappers.TeamMapper">
    <resultMap id="TeamResultMap" type="com.locotor.kanpm.model.entities.Team">
        <id column="id" property="id" />
        <result column="team_name" property="teamName" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="is_archived" property="isArchived" />
    </resultMap>
    <sql id="team_select_column">
        team.id,team_name,create_time,creator_id,owner_id,description
    </sql>
    <select id="getById" parameterType="string" resultMap="TeamResultMap">
        select
        <include refid="team_select_column"></include>
        from team 
        where id = #{id}
    </select>
    <select id="getByName" parameterType="string" resultMap="TeamResultMap">
        select
        <include refid="team_select_column"></include>
        from team
        where team_name = #{teamName}
    </select>
    <select id="getTeamListByUserId" parameterType="string" resultMap="TeamResultMap">
        select
        <include refid="team_select_column"></include>
        from team inner join team_members as tm
        on team.id = tm.team_id
        where tm.member_id = #{userId}
    </select>
    <insert id="insertTeamMembers">
        INSERT INTO 
        team_members(id,team_id,member_id)
        VALUES
        <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
            uuid(),#{teamId},#{item}
        </foreach>
    </insert>
    <insert id="insert" parameterType="com.locotor.kanpm.model.entities.Team">
        <selectKey keyProperty="id" order="BEFORE" resultType="string">
            select uuid()
        </selectKey>
        insert into team(id,team_name,create_time,creator_id,owner_id,description)
        values(
            #{id},
            #{teamName},
            #{createTime},
            #{creatorId},
            #{ownerId},
            #{description}
        );
    </insert>
    <update id="archiveById" parameterType="string">
        update team
        set is_archived = 1
        where id = #{id}
    </update>
    <update id="update" parameterType="com.locotor.kanpm.model.entities.Team">
        update team
        <set>
            <if test="teamName != null">
                team_name = #{teamName},
            </if>
            <if test="description != null">
                description = #{teamName},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>