@import '~@angular/material/theming';

:host {
  display: block;
  height: 100%;
}

.project-tasks-wrapper {
  height: 100%;
}

.kanban-wrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.task-list-wrapper {
  flex-shrink: 0;
  width: 296px;
  max-height: 100%;
  margin: 0 8px;
}

.task-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: pink;
  position: relative;
  padding: 0 10px;
  max-height: 100%;
  border-radius: 3px;

  .list-header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      margin: 0;
    }
  }

  .list-content {
    flex: 1 1 auto;
  }

  .list-footer {
    padding: 0 10px 10px;

    .task-additional-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;

      .icon {
        font-size: 18px;
      }
    }
  }
}





.cdk-drag-preview {
  @include mat-elevation(8);
}

.cdk-drag-placeholder {
  opacity: 0;
}
