.tasks-root-container {
  height: 100%;
}

.task-detail-container {
  width: 50%;
  min-width: 660px;
  max-width: 879px;
}

.task-stacks-wrapper {
  height: 100%;
  padding: 1rem;

  ul.task-stacks {
    height: 100%;
    white-space: nowrap;
  }
  li.task-stack {
    display: inline-block;
    width: 20rem;
    height: 100%;
    margin-right: 1rem;
  }
  li.task-stack-creator{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    width: 20rem;
    margin-right: 1rem;
  }
}
