<div class="select-layout-wrapper">
    <div class="team-select-wrapper">
        <h1>select a team to enter workspace</h1>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <mat-list-item *ngFor="let team of teams">
                <img matListAvatar src="http://placekitten.com/50/50">
                <a matLine [routerLink]="'/team/'+team.id"> {{team.teamName }}</a>
                <mat-icon>input</mat-icon>
            </mat-list-item>
        </mat-nav-list>
        <button class="create-team-button" mat-raised-button color="primary" (click)="openTeamCreatorDialog()">create a
            team</button>
    </div>
</div>