:host {
  display: block;
  height: 100%;
}

.select-layout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 65px;
}

.team-select-wrapper {
  width: 650px;

  .create-team-button {
    width: 100%;
    margin: 20px 0;
  }
}
