@import "~@angular/material/theming";
@import "../app/theme";
@import "../app/pages/authentication/authentication-root/theme";
@import "../app/pages/project/theme";

@mixin app-theme($theme) {
  @include authentication-theme($theme);
  @include project_theme($theme);
  @include app-root-theme($theme);

  $foreground: map-get($theme, foreground);

  // to disable chrome user agent stylesheet
  input:-internal-autofill-previewed,
  input:-internal-autofill-selected {
    -webkit-text-fill-color: map-get($foreground, text);
    transition: background-color 5000s ease-in-out 0s;
  }
}
