@import "~@angular/material/theming";

@mixin project-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .project-root-container {
    .project-header {
      background: map-get($background, app-bar);
      color: map-get($foreground, text);
      border-bottom: 1px solid map-get($foreground, divider);

      .tabs {
        li.active {
          border-bottom: 2px solid map-get($accent, 400);
          color: map-get($accent, 400);
        }
      }

      .settings {
        a {
          color: map-get($foreground, icon);
        }
      }
    }
    .task-list {
      background: map-get($primary, 100);
      color: rgba(0, 0, 0, 0.87);
    }
    .list-footer {
      border: 1px solid rgba(0, 0, 0, 0.87);
    }
  }
}
