<div class="login-root">
  <h1>登录</h1>
  <form class="login-form" [formGroup]="signInForm" (ngSubmit)="submitLoginForm()">
    <div>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>用户名</mat-label>
        <input matInput formControlName="userName" required>
        <mat-icon matSuffix *ngIf="userName?.dirty&&userName?.invalid" color="accent">highlight_off</mat-icon>
        <mat-icon matSuffix *ngIf="userName?.dirty&&userName?.valid" color="primary">check_circle_outline</mat-icon>
        <mat-error *ngIf="userName?.errors?.required">用户名不能为空</mat-error>
        <mat-error *ngIf="userName?.errors?.maxlength">
          用户名长度不能大于 {{userName?.errors?.maxlength.requiredLength}}.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>密码</mat-label>
        <input matInput formControlName="password" required [type]="isPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matPrefix type="button" (click)="isPasswordHide = !isPasswordHide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHide">
          <mat-icon>{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matSuffix *ngIf="password?.dirty&&password?.invalid" color="accent">highlight_off</mat-icon>
        <mat-icon matSuffix *ngIf="password?.dirty&&password?.valid" color="primary">check_circle_outline</mat-icon>
        <mat-error *ngIf="password?.errors?.required">密码不能为空</mat-error>
        <mat-error *ngIf="password?.errors?.valueFormat">密码必须有 6 ~ 64 个字符</mat-error>
      </mat-form-field>
    </div>
    <div class="form-operations">
      <button mat-raised-button type="submit" color="primary" [disabled]="!signInForm.valid">login</button>
      <mat-divider class="vertical-divider" [vertical]="true"></mat-divider>
      <span>没有账号？<a routerLink="../register">前往注册</a></span>
    </div>
  </form>
</div>