:host {
  height: 100%;
  width: 100%;
}

.root-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.main-header-nav {
  .mat-h1 {
    margin: 0;
  }

  .flex-spacer {
    flex-grow: 1;
  }
}

.main-content-container {
  flex: 1;
  overflow: hidden;
}
