<div class="root-container">
  <!-- <kanpm-nav-header></kanpm-nav-header> -->
  <mat-toolbar color="primary" class="main-header-nav ">
    <section class="mat-h1">Kanpm</section>
    <section class="flex-spacer"></section>
    <section>
      <kanpm-theme-picker></kanpm-theme-picker>
    </section>
    <section>
      <kanpm-avatar [avatar]="defaultAvatar" [matMenuTriggerFor]="userSettingMenu"></kanpm-avatar>
      <mat-menu #userSettingMenu xPosition="before">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </section>
  </mat-toolbar>
  <div class="main-content-container">
    <router-outlet></router-outlet>
  </div>
</div>