<div class="root-container">
  <!-- <kanpm-nav-header></kanpm-nav-header> -->
  <mat-toolbar color="primary" class="main-header-nav">
    <span class="mat-h1">Kanpm</span>
    <div class="flex-spacer">
      <mat-form-field class="group-search">
        <input matInput type="text">
        <button mat-button matSuffix mat-icon-button aria-label="search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="team-selector-container">
      <span class="mat-body">Kanpm 开发小组</span>
      <mat-icon class="team-switch-button" routerLink="/teamSelect">swap_horiz</mat-icon>
    </div>
    <mat-divider vertical style="height: 20px; margin: 0 10px;"></mat-divider>
    <kanpm-theme-picker></kanpm-theme-picker>
    <mat-divider vertical style="height: 20px;margin: 0 10px;"></mat-divider>
    <!-- <nz-avatar nzIcon="user"></nz-avatar> -->
    <button *ngIf="global.currentUser" mat-button (click)="logout()">登出</button>
  </mat-toolbar>
  <mat-sidenav-container class="main-content-container">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>