@import "~@angular/material/theming";

@mixin group-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .group-side-container {
    .starred-projects {
      .mat-h3 {
        color: map-get($map: $foreground, $key: text);
      }
    }
  }
}
