:host {
  display: block;
}

.login-root {
  width: 550px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field-row {
  display: flex;

  mat-form-field {
    flex-grow: 1;
  }

  .field-feedback {
    display: flex;
    align-items: center;
    width: 48px;
    padding-left: 8px;
    margin: .25em 0;
    padding-bottom: 1.34375em;

    .checked-icon {
      color: #8bc34a;
    }

    .faild-icon {
      color: #f44336
    }
  }
}
