@import "~@angular/material/theming";

/* default material theme */

@include mat-core();

$default-primary: mat-palette($mat-indigo);
$default-accent: mat-palette($mat-pink);
$default-theme: mat-light-theme(
  (
    color: (
      primary: $default-primary,
      accent: $default-accent,
    ),
  )
);
$default-theme-dark: mat-dark-theme(
  (
    color: (
      primary: $default-primary,
      accent: $default-accent,
    ),
  )
);

@include angular-material-theme($default-theme);
.dark-theme {
  @include angular-material-color($default-theme-dark);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// to disable chrome user agent stylesheets
// input:-internal-autofill-previewed,
// input:-internal-autofill-selected {
//   -webkit-text-fill-color: map-get($foreground, text);
//   transition: background-color 5000s ease-in-out 0s;
// }

.task-card {
  .mat-checkbox-inner-container {
    width: 24px;
    height: 24px;
  }
}