@import "~@angular/material/theming";
@import "./themes/indigo-pink-default.scss";

@include mat-core();

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none
}

// to disable chrome user agent stylesheet
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #FFFFFF !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.mat-basic-chip {
  padding: 4px 6px;
  margin: 0 5px 5px 0;
  border-radius: 4px;
}

.task-detail-root .task-checkbox .mat-checkbox-inner-container {
  width: 32px;
  height: 32px;
}
