<div class="task-stack">
  <!-- stack header -->
  <header class="stack-header mat-elevation-z1">
    <div>
      <span class="stack-name">{{stack?.stackName}}</span>
      <span *ngIf="tasks&&tasks?.length" class="stack-status">{{getStackStatus()}}</span>
    </div>
    <div>
      <button mat-icon-button (click)="isShowCreatePane=true">
        <mat-icon>add_task</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </header>
  <!-- stack content, task card drag zone -->
  <div class="stack-content">
    <div *ngIf="isLoading" class="flex-center list-loading">
      <mat-spinner [diameter]="24" [strokeWidth]="4"></mat-spinner>
      <span>列表加载中</span>
    </div>
    <ul class="task-list h-100 w-100 px-2" *ngIf="!isLoading" cdkDropList [cdkDropListData]="tasks"
      (cdkDropListDropped)="drop($event)">
      <!-- task creator -->
      <mat-card *ngIf="!isLoading && isShowCreatePane" class="w-100 mb-2">
        <form class="w-100" [formGroup]="taskCreateForm">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>任务描述</mat-label>
            <textarea matInput formControlName="description" require></textarea>
            <mat-error *ngIf="description?.errors?.required">任务描述不能为空</mat-error>
            <mat-error *ngIf="description?.errors?.maxlength">
              任务描述长度不能大于 {{description?.errors?.maxlength.requiredLength}}.
            </mat-error>
          </mat-form-field>
          <section>
            <button mat-stroked-button color="primary" [disabled]="taskCreateForm.invalid"
              (click)="emitNewTask()">创建</button>
            <button mat-button class="ms-1" (click)="isShowCreatePane=false;taskCreateForm.reset()">取消</button>
          </section>
        </form>
      </mat-card>
      <li *ngFor="let task of tasks; index as i" cdkDrag [cdkDragData]="task">
        <kanpm-task-card [task]=task></kanpm-task-card>
      </li>
    </ul>
    <div class="empty-content-tips" *ngIf="!isLoading && tasks?.length == 0">
      <mat-icon color="primary">check_box</mat-icon>
      <span>列表无任务</span>
      <span class="mat-caption">动静有时，张驰有度</span>
    </div>
  </div>
</div>